.container {
    display: flex;
    align-items: center; /* Align items in the container */
}

.text {
    margin-right: 20px; /* Space between text and image */
}

.image {
    width: 80px;
    height: auto;
}

img {
    width: 80px;
    height: auto;
}


h1, h2, h3 {
    font-family: 'Roboto', sans-serif; /* Specific font for headers and paragraphs */
}

p {
    font-family: 'Roboto Mono', monospace;
}