.container {
    display: flex;
    align-items: center; /* Align items in the container */
}

.text {
    margin-right: 200px; /* Space between text and image */
}


h1, p {
    font-family: 'Roboto', sans-serif; /* Specific font for headers and paragraphs */
}